# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Silverstripe 2.4.9
/assets/
/cms/
/sapphire/
/silverstripe-blog/
/silverstripe-cache/
ChangeLog
COPYING
INSTALL
web.config

# Plesk dir on server
/plesk-stat/

# todo file on root
todo.txt

# project specific
